@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    background: white;
    margin: 20% auto;
    font-size: 100px;
    color:#007377;
    border: 5px solid #007377;
    display:flex;
    flex-direction: column;
    justify-content:center;
  }