@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    background: rgb(211, 203, 203);
    margin: 0 auto;
    font-size: 100px;

  }