@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



textarea{ 
  outline: none;
  /* border-color: #719ECE; */
  /* box-shadow: 0 0 10px #719ECE; */
  /* border: none !important; */
  border-color: Transparent;  
}

.ui-resizable-helper { border: 2px dashed rgb(0, 0, 0); }

textarea:focus{ 
  /* outline: none; */
  border-color: #000000;
  /* box-shadow: 0 0 10px #719ECE; */
  /* border: none !important; */
  
}



img:active {
  border: 15px solid blue;
  width: 500px;
}


.addBorder{
  border: 1px solid red;
  padding: 3px;
}


/* #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; } */
  /* #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; } */

